@model CommunityBoard
@{
    ViewData["Title"] = "CommunityBoard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Conversation!</h1>
    <p>
        A place to interact with the other members of this site.
    </p>

    <div><a href="/CommunityBoard/CommunityBoard"> Create a Post </a></div>

    <div><a href="/CommunityBoard/BoardPost"> View Posts</a></div>


</div>