@model Journal
@{
    ViewData["Title"] = "Agenda Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agenda Home Page</h1>

    <div><a href="/Agenda/Agenda"> View All Scheduled Days</a></div>


    <div><a href="/Agenda/DayEntry"> Single Day Entry </a></div>





</div>
