@model Journal
@{
    ViewData["Title"] = "Journal";
}

<div class="text-center jumbotron">
    <div class="container">
        <h1> Daily Entry</h1>
    </div>
</div>

<div class="form-group">
    <form method="post" class="container">
        <div class="row">
            <label asp-for="EntryText" class="control-label col-sm-2">Today's Entry:</label>
            <input asp-for="EntryText" class="form-control col-sm-8 mb-2" />
        </div>

        <h5>Set the Entry Status:</h5>
        <div class="row">
            <label for="private" class="col-1">Private</label>
            <input asp-for="EntryStatus" id="private" type="radio" value="false" />
        </div>
        <div class="row">
            <label for="public" class="col-1">Public</label>
            <input asp-for="EntryStatus" id="public" type="radio" value="true" />
        </div>

        <div class="container pt-4">
            <button type="submit" class="btn btn-dark">Save Entry</button>
        </div>
    </form>
</div>

<br />
<br />

<div><a href="/Journal/Journal"> View all your entries here</a></div>

<br />
<br />

