@model Journal
@{
    ViewData["Title"] = "Journal Home Page";
}

<div class="text-center">
    <h1 class="display-4">Journal Home Page</h1>

    <div><a href="/Journal/Journal"> View All Entries Here</a></div>


    <div><a href="/Journal/Entry"> Make a new entry Here</a></div>


  <!--  <div><a href="/Journal/PublicEntries"> See public entries Here</a></div>  -->





</div>
