@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Writing Desk</h1>

    <p>
        Welcome to the Writing Desk, your online collection of personal notebooks.
    </p>


    <a href="/Journal/Index"><img src="~/images/journal.jpg" class="img-fluid" />

    <a href="/CommunityBoard/Index"><img src="~/images/board.jpg" class="img-fluid" />

    <a href="/Agenda/Index"><img src="~/images/agenda.jpg" class="img-fluid" />



</div>

